* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: Arial, Helvetica, sans-serif;
}


body {
background-color: #111;
color: #fff;
}


/* HEADER */
.header {
background-color: #000;
padding: 20px;
display: flex;
justify-content: space-between;
align-items: center;
}


.header nav a {
color: #fff;
margin-left: 20px;
text-decoration: none;
font-weight: bold;
}


.header nav a:hover {
color: #c9a14a;
}


/* HERO */
.hero {
background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),
url('https://images.unsplash.com/photo-1503951914875-452162b0f3f1');
background-size: cover;
background-position: center;
text-align: center;
padding: 120px 20px;
}


.hero h2 {
font-size: 42px;
}


.hero button {
margin-top: 25px;
padding: 12px 30px;
border: none;
background-color: #c9a14a;
color: #000;
font-size: 16px;
cursor: pointer;
border-radius: 5px;
}


.hero button:hover {
background-color: #fff;
}