*{
    margin : 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: arial, sans-serif;
    background-color: black;
}

.navegacao{
    display: flex;
    justify-content:end;
    margin-right: 100px;
    gap: 25px;
    align-items: center;
    color: white;
    text-decoration: none;
    list-style: none;
}

.sec-pai {
    color: white;
    text-align: center;
}

.sec-segndaria{
    text-align: center;
    color: white;
    margin: 90px;
}

.bnt{
    padding: 5px;
    margin-bottom: 10px;
}

.img{
    height: 200px;
    width: 300px;
}

.produto-2{
    color: white;   
}

.conteiner{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
    
}

/* .prod{
    border: 2px solid white;
    padding: 10px;
    border-radius: 10px;
    height: 350px;
    width: 300px;
}

.prod>.img{
   width: 100%;
} */

/* CARD BASE */
.prod {
    width: 300px;
    height: 350px;
    /* border: 2px solid white; */
    border-radius: 10px;
    padding: 0;
    perspective: 1000px; /* ativa o 3D */
    
}

/* Parte interna que gira */
.prod .inner {
    width: 100%;
    height: 100%;
    position: relative;
    transition: .7s;
    transform-style: preserve-3d;
}

/* Efeito ao passar o mouse */
.prod:hover .inner {
    transform: rotateY(180deg);
    border-color: orange;
    border: 2px solid orange;
}

/* Frente e verso */
.front, .back {
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 10px;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    justify-content: center;
}

/* Frente */
.front img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

/* Verso começa virado */
.back {
    background: rgba(0,0,0,0.8);
    color: white;
    transform: rotateY(180deg);
}

.navegacao>li>a>i:hover {
    color: orange !important;
}

.rodape {
    display: flex;
    justify-content: space-around; 
    background-color: #222;
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-top: 50px;
}

.rodape>i:hover {
    color: orange !important;
}