.meudiscord {
    display: block;
    text-align: center;
    color: rgb(255, 255, 255);
    text-decoration: none;
    background-color: #1748e7;
    /* cor do Discord */
    padding: 10px 20px;
    border-radius: 10px;
    width: 150px;
    margin: 0 auto;
    /* centraliza horizontalmente */
}


.meudiscord:hover {
    background-color: orange;
}


body>.meudiscord {
    display: block;
    margin: 20px auto;
}

.pai{
    text-decoration: none;
}

img {
    border-radius: 50%;
}

.registerse {
    color: #ffffff;
    text-align: right;
    border: 1px white;
}

.Cid {
    color: #ffffff;
    text-align: center;
}

.lock {
    color: #ffffff;
    text-align: center;
}

.buton {
    color: #fffffffb;
    display: block;
    margin: 0 auto;
    background-color: rgb(197, 162, 233);

}

.cul {
    text-align: center;
    color: #ffffff;

}

.historia-ht {
    text-align: center;
    color: #ffffff;

}

.turismo-th {
    text-align: center;
    color: #ffffff;
}

.buton-but {
    color: #fffffffb;
    display: block;
    margin: 0 auto;
    background-color: rgb(150, 124, 177);
}

.instagram {
    position: absolute;
    top: 40px;
    left: 90%;
    transform: translateX(-50%);
}

.youtube {
    position: absolute;
    top: 2;
    left: 50%;
    transform: translateX(-50%);
}

.linkid {
    position: absolute;
    top: 40px;
    left: 10%;
    transform: translateX(-50%);
}

.jujutso {
    border-radius: 40%;
}

.P52 {
    color: #ffffff;
}

.aprendizagem {
    color: #ffffff;
    text-align: center;
}

.P65{
    color: #ffffff;
}

.produtos{
    color:#ffffff;
    text-align: center;
}

.pato{
    text-align: center;
    display: block;
    margin: -3% auto;
    background-color:rgb(150, 124, 177) ;
}