 * {
          padding: 0;
          margin: 0;
        }

        body {
          background-color: #000000;  
          font-family: Arial, Helvetica, sans-serif;
        }

        .contato > ul {
          display: flex;
          justify-content: space-evenly;
          align-items: center;
          flex-direction: row;
          list-style-type: none;
          color: black;
        }

        li a {
          color: aliceblue;
          text-decoration: none;
        }

        li a:hover {
          color: rgb(0, 0, 128);
        }

        .container {
          background-color: #e60e0e;
          padding: 20px;
        }
        
        .titulo{
          text-align: center;
          color: #fff ;
        }

        .titul, .titol {
          color: rgb(255, 255, 255);
          text-align: center;
        }

        .img1 {
          margin: 40px;
          width: 20%;
          border-radius: 20px;
          border: 1px solid rgb(204, 14, 141);
        }

        .sobre_titulo {
          color: rgb(255, 255, 255);
          display: flex;
          justify-content: center;
        }

        .class_pai {
          color: #fff;
          text-align: center;
        }

        .class_pai > .file_p {
          color: #fff;
        }

    
        .but_pizza {
          background-color: #e60e0e;
          color: white;
          border: none;
          padding: 10px 20px;
          border-radius: 10px;
          cursor: pointer;
          font-size: 16px;
        }

        .but_pizza:hover {
          background-color: #ff3c3c;
        }